.example-tab-icon {
  margin-right: 8px;
}

.mat-toolbar {
  position: relative;
  z-index: 2;
}

.example-card {
  max-width: 550px;
}

.card-center {
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

.position {
  position: relative;
  top: 10px;
}

.height-container {
  max-height: 77vh;
}

.register{
  text-decoration: none;
  cursor: pointer;
  color: #673ab7;
  display: inline-block;
  font-size: 20px;
}